.text-centre{
    text-align: center;
}
/* .bg{
background-color: red;
} */
.mx-auto{
    margin: auto;
}
.flex{
display: flex;
}
.flex-col{
flex-direction: column;
}
.items-centre{
    align-items: center;
}